.shomepage-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #1a3c34 0%, #000000 100%);
  padding: 20px;
  color: #fff;
  font-family: "Arial", sans-serif;

  .content {
    text-align: center;

    h1 {
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .movie-carousel {
      .carousel-slide {
        padding: 60px 35px; /* Spacing between slides */
      }

      .movie-card {
        width: 300px;
        height: 500px; /* Match the width of the second image */
        text-align: center;

        .ant-card-cover {
          margin: 0; /* Remove any margin */
          padding: 0; /* Remove any padding */
        }

        .movie-poster {
          width: 100%; /* Fill the card width */
          height: 360px; /* Adjusted height to fit proportions */
          object-fit: cover; /* Ensure the image covers the area without distortion */
          border-radius: 10px 10px 0 0; /* Round only the top corners to match the card */
          display: block;
        }

        .ant-card-body {
          padding: 30px; /* Default padding for the card body */
        }

        .ant-card-meta-title {
          font-size: 22px;
          margin: 0;
          color: #000;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
        }

        .ant-card-meta-description {
          font-size: 12px;
          color: #ccc;
        }

        .book-button {
          background-color: #28a745;
          border: none;
          border-radius: 5px;
          width: 100%;
          padding: 20px;
          font-size: 14px;
          margin-top: 10px; /* Add some spacing between description and button */
          &:hover {
            background-color: #218838;
          }
        }
      }

      .ant-carousel .slick-prev,
      .ant-carousel .slick-next {
        color: #fff;
        font-size: 24px;
        z-index: 1;
        background: none;
        border: none;
      }

      .ant-carousel .slick-prev {
        left: -40px;
      }

      .ant-carousel .slick-next {
        right: -40px;
      }
    }
  }
}
