.ticket-info-main {
  position: relative;
  min-height: 100vh;
  background-image: url("../../../assets/bigbackground.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #fff;

  .ticket-back-btn {
    background: none;
    border: 2px solid #0c9550;
    color: #0c9550;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50px;
    top: 50px;
    &:hover {
      background-color: #0c9550;
      color: white;
    }

    @media (max-width: 768px) {
      width: 40px;
      height: 40px;
      font-size: 20px;
    }
  }

  .ticket-info-content {
    display: flex;
    justify-content: center;
    width: 900px;
    padding: 0 15px 50px 50px;
  }

  .ticket-info-card {
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.7);
  }

  .ticket-poster-container {
    .ticket-movie-poster {
      width: 250px;
      height: 460px;
      object-fit: cover;
      border-radius: 15px;
    }
  }

  .ticket-details-section {
    flex: 1;

    h2 {
      font-size: 24px;
      margin-bottom: 20px;
      text-align: center;
    }

    .ticket-detail-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      font-size: 16px;

      &.ticket-voucher-search {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        position: relative;

        span.text {
          font-weight: 500;
          color: #fff;
        }

        .ant-input-search {
          font-size: 14px;
          border-radius: 4px;
          transition: border-color 0.3s;

          .ant-input {
            padding: 8px;
          }

          .ant-input:focus,
          .ant-input:hover {
            outline: none;
            color: #000;
          }
        }

        .ticket-voucher-list {
          display: none;
          list-style: none;
          padding: 0;
          margin: 0;
          margin-top: 8px;
          max-height: 150px;
          overflow-y: auto;
          border: 1px solid #d9d9d9;
          border-radius: 4px;
          background: #fff;
          width: 100%;
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 1;
        }

        .ticket-voucher-list.has-vouchers {
          display: block;
        }

        .ticket-voucher-list li {
          padding: 8px 12px;
          cursor: pointer;
          font-size: 14px;
          color: #333;
          transition: background-color 0.2s;
        }

        .ticket-voucher-list li:hover {
          background-color: #f5f5f5;
        }

        .ticket-voucher-list li.voucher-selected {
          background-color: #e6f7ff;
          color: #1890ff;
          font-weight: 500;
        }
      }

      &.ticket-type-selection {
        flex-direction: column;
      }

      .ticket-type-note {
        font-size: 14px;
        color: #dbd8d8;
        margin: 0;
        justify-content: end;
        display: flex;
      }

      &.transaction {
        flex-direction: column;
        gap: 5px;

        .transaction-details {
          display: flex;
          flex-direction: column;
          gap: 2px;
          padding-left: 20px;

          div:nth-child(odd) {
            font-weight: bold;
          }
          div:nth-child(even) {
            text-align: right;
          }
        }
      }

      &.total {
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
      }

      &.ticket-phone-input {
        button {
          width: 100%;
          padding: 10px;
          background-color: #28a745;
          color: #fff;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer;

          &:hover {
            background-color: #218838;
          }
        }
      }

      &.ticket-payment-method {
        flex-direction: column;
        gap: 10px;

        .ant-select {
          width: 100%;

          .ant-select-selector {
            display: flex;
            align-items: center;
            min-height: 32px;
            padding: 4px 11px;
          }

          .ant-select-arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateX(-50%);
            transform: translateY(70%);
          }

          .ant-select-selection-item {
            display: flex;
            align-items: center;
            line-height: 1.5;
          }
        }

        .ant-input {
          margin-top: 10px;
          padding: 4px 11px;
          min-height: 32px;
          display: flex;
          align-items: center;
        }

        div {
          margin-top: 10px;
        }
      }
    }

    .ticket-note {
      font-size: 12px;
      color: #ccc;
      text-align: center;
      margin-top: 20px;
    }

    .ticket-purchase-btn {
      width: 100%;
      padding: 10px;
      background-color: #28a745;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      margin-top: 7px;
      &:hover {
        background-color: #218838;
      }
    }
  }

  @media (max-width: 768px) {
    .ticket-info-card {
      flex-direction: column;
      align-items: center;
      padding: 15px;
    }

    .ticket-poster-container {
      position: relative;
      margin-top: 50px;
      .ticket-movie-poster {
        width: 150px;
        height: 225px;
      }
    }

    .ticket-details-section {
      h2 {
        font-size: 20px;
      }

      .ticket-detail-row {
        font-size: 14px;
      }

      .total {
        font-size: 18px;
      }
    }

    .ticket-back-btn {
      font-size: 20px;
      top: 15px;
      left: 15px;
    }
  }

  @media (max-width: 480px) {
    padding: 10px;

    .ticket-info-content {
      padding: 0 10px;
    }

    .ticket-info-card {
      padding: 10px;
      gap: 15px;
    }

    .ticket-poster-container {
      .ticket-movie-poster {
        width: 120px;
        height: 180px;
      }
    }

    .ticket-details-section {
      h2 {
        font-size: 18px;
        margin-bottom: 15px;
      }

      .ticket-detail-row {
        font-size: 12px;
        flex-direction: column;
        gap: 5px;
        padding: 10px; /* Sửa lỗi padding quá lớn từ 700px */
        &.transaction {
          .transaction-details {
            padding-left: 10px;
          }
        }
      }

      .total {
        font-size: 16px;
      }

      .ticket-note {
        font-size: 10px;
      }

      .ticket-purchase-btn {
        font-size: 14px;
        padding: 8px;
      }
    }

    .ticket-back-btn {
      font-size: 18px;
      top: 10px;
      left: 10ponepx;
    }
  }
}
